h4{
    text-align: center;
}
#f1{
    height: 150px;
    width: 170px;
    border-radius: 5px;
}

#container{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    border-radius: 5px;
}

#has0,#has1,#has2,#has3,#has4,#has5{
    width: 10px;
    height: 10px;
    
}
#litera{
    width: 10px;
    height: 10px;
}